.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 200px;
    margin: 30px;
}
.botoes{
    display: flex;
    flex-direction: column;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0;
    border: 0;
    color: white;
    margin: 10px;
    border-radius: 10px;
}